<%- include('../partials/header') %>
<section id="all">
<% restaurants.forEach(function(r) { %>
  <div><%= r.title %></div>
  <div><%= r.cuisine %></div>
  <div><%= r.price %></div>
  <br>
  <a class="button" href="/restaurants/<%= r._id %>">Ratings</a>
<% }); %>
</section>

<%- include('../partials/footer') %>