<%- include('../partials/header') %>

<div><%= restaurant.title %></div>
<div>Cuisine: </div>
<div><%= restaurant.cuisine %></div>
<div>Price Range:</div>
<div><%= restaurant.price %></div>

<%- include('../partials/footer') %>