<%- include('../partials/header') %>

<section id="details" >

<section id="basics">
  <table>
    <tr>
      <th id="big"><%= restaurant.title %></th>
    </tr>
    <tr>
      <td><%= restaurant.cuisine %> | <%= restaurant.price %></td>
    </tr>
  </table>
</section>

<% if (user) { %>

<section id="review">

<form action="/restaurants/<%= restaurant._id %>/reviews" method="POST">
  <label>Review: </label>
  <textarea name="content" ></textarea>
  <label>Score: </label>
  <select name="score">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select>
  <input class="add-ratings" type="submit" value="Add Review">
</form>

</section>

<section id="rate">

<form action="/restaurants/<%= restaurant._id %>/ratings" method="POST">
  <label>Rate Your Employer: </label>
  <textarea name="content" ></textarea>
  <label>Score: </label>
  <select name="score">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select>
  <input class="add-ratings" type="submit" value="Add Rating">
</form>

</section>

<% } %>

<section id="ratings" >

<table>
  <tr>
    <th>User</th>
    <th>Product Review</th>
    <th>Average Score: </th>
    <% let total = 0 %>
    <% const aveRev = restaurant.reviews.forEach((r) => { %>
    <% total += r.score %>
    <% }) %>
    <th><%= (total / restaurant.reviews.length).toFixed(1) %></th>
  </tr>
  <% if (restaurant.reviews.length) { %>
    <% restaurant.reviews.forEach(function(r) { %>
    <tr>
      <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
      <td><%= r.content %></td>
      <td><%= r.score %></td>
      <td>
        <% if (user?._id.equals(r.user)) { %>
          <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
            <button class="delete" type="submit">Delete</button>
          </form>
        <% } %>
      </td>
    </tr>
    <% }) %>
    <% } else { %>
    <tr>
      <td></td>
      <td>No Reviews Yet</td>
      <td></td>
      <td></td>
    </tr>
    <% } %>
</table>

<table>
  <tr>
    <th>User</th>
    <th>Company Rating</th>
    <th>Average Score: </th>
    <% let totalRat = 0 %>
    <% const aveRat = restaurant.ratings.forEach((ra) => { %>
    <% totalRat += ra.score %>
    <% }) %>
    <th><%= (totalRat / restaurant.ratings.length).toFixed(1) %></th>
  </tr>
  <% if (restaurant.ratings.length) { %>
    <% restaurant.ratings.forEach(function(ra) { %>
    <tr>
      <td class="review-user"><img alt="avatar" src="<%= ra.userAvatar %>" referrerpolicy="no-referrer" ><%= ra.userName %></td>
      <td><%= ra.content %></td>
      <td><%= ra.score %></td>
      <td>
        <% if (user?._id.equals(ra.user)) { %>
          <form action="/ratings/<%= ra._id %>?_method=DELETE" method="POST">
            <button class="delete" type="submit">Delete</button>
          </form>
        <% } %>
      </td>
    </tr>
    <% }) %>
    <% } else { %>
    <tr>
      <td></td>
      <td>No Ratings Yet</td>
      <td></td>
      <td></td>
    </tr>
    <% } %>
</table>

</section>

</section>

<%- include('../partials/footer') %>