<%- include('../partials/header') %>
<section id="all">

  <table>
    <tr>
      <th>Restaurant</th>
      <th>Cuisine</th>
      <th>Price</th>
      <th></th>
    </tr>
    <% restaurants.forEach((r) => { %>
    <tr>
      <td><%= r.title %></td>
      <td><%= r.cuisine %></td>
      <td><%= r.price %></td>
      <td><a class="button" href="/restaurants/<%= r._id %>">Details</a></td>
    </tr>
    <% }); %>
  </table>

</section>

<%- include('../partials/footer') %>